In [ ]:
my list = ["mango", "orange", "grape", "berries", "strawberry", "]
print(my list)

In [1]:
fruits = ["mango", "orange", "grape", "berries", "strawberry", "lemon"]
print(fruits)

['mango', 'orange', 'grape', 'berries', 'strawberry', 'lemon']

In [2]:
bicycles = ["trek", "cannondale" "redline", "specialized"]
print(bicycles)

['trek', 'cannondaleredline', 'specialized']

In [3]:
my_list = ["apple", 42, 3.142, True, "banana"]
print(my_list)

['apple', 42, 3.142, True, 'banana']

In [4]:
print("the element in index 2 is:", my_list[3])

the element in index 2 is: True

In [5]:
print("second fruit in the fruits list is:", fruits[1].title())

second fruit in the fruits list is: Orange

In [6]:
names = ["isah", "umar", "abba", "abubakar "]
print(names)

['isah', 'umar', 'abba', 'abubakar ']

In [7]:
print(names[3].strip().title())

Abubakar

In [ ]:
second_name = names[1].title
third_name = names[2].title
print("second name and third name are ", second_name + " and " + third_name + " respectively")

In [10]:
courses = ["maths", "physics", "chemistry", "biology", "english"]
print("the last element in the list is ", courses[4].title())

the last element in the list is  English

In [11]:
print("the last element is ", courses[-1].title())

the last element is  English

In [12]:
print("the second element is ", courses[-4].title())

the second element is  Physics

In [5]:
my_list = ["a"]
print(my_list)

['a']

In [4]:
my_list[0] = "b"
print(my_list)

['b']

In [1]:
motorcycles = ["honda", "yamaha", "suzuki"]
print("original motorcycles:", motorcycles)

original motorcycles: ['honda', 'yamaha', 'suzuki']

In [2]:
motorcycles[1]= "bugatti"
print("updated motorcycles:", motorcycles)

updated motorcycles: ['honda', 'bugatti', 'suzuki']

In [ ]:
my_list
my_list.append("d")
print(my_list)

In [1]:
my_list = ["a"]
print(my_list)

['a']

In [ ]:
my_list[0] = "b"
my_list.append("d")
print(my_list)

['b']

In [1]:
attendance = []
attendance.append("zarewa")

In [2]:
attendance.append("albashir")

In [3]:
attendance.append("anas")

In [4]:
attendance.append("zakiyyu")

In [5]:
attendance.append("abbakar")
print(attendance)

['zarewa', 'albashir', 'anas', 'zakiyyu', 'abbakar']

In [1]:
alpha = ["a", "b", "c",]
alpha.insert(3, "d")
print(alpha)

['a', 'b', 'c', 'd']

In [2]:
num = list(range(1, 5))
print(num)

[1, 2, 3, 4]

In [3]:
num.insert(4, 5)
print(num)

[1, 2, 3, 4, 5]

In [4]:
num.insert(3, 3.5)
print(num)

[1, 2, 3, 3.5, 4, 5]

In [6]:
my_favorite = "engineering mathematics"

In [5]:
courses = ["soil", "concrete", "steel", "geotech"]
courses.insert(4, "hydrology")
print(courses)

['soil', 'concrete', 'steel', 'geotech', 'hydrology']

In [7]:
courses.insert(0, my_favorite)
print(courses)

['engineering mathematics', 'soil', 'concrete', 'steel', 'geotech', 'hydrology']

In [8]:
del courses[2]
print(courses)

['engineering mathematics', 'soil', 'steel', 'geotech', 'hydrology']

In [9]:
my_students = ["ali", "bala", "sani", "zainab"]

In [14]:
fruits = ["mango", "banana", "orange", "apple", "grape"]
pop_fruits = fruits.pop(3)
print("the popped fruit is:", pop_fruits.title())

the popped fruit is: Apple

In [15]:
tv_show = ["got", "breaking nad", "the wire", "the sopranos"]
print(tv_show)

['got', 'breaking nad', 'the wire', 'the sopranos']

In [16]:
nums = [2, 1, 7, 6, 4, 5, 3]
print(nums)

[2, 1, 7, 6, 4, 5, 3]

In [17]:
nums.sort()
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [18]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [19]:
nums.sort(reverse=True)
print(nums)

[7, 6, 5, 4, 3, 2, 1]

In [20]:
alpha = ["d", "a", "c", "b", "e"]
print("original list:", alpha)
print("temporarily sorted list:", sorted(alpha))

original list: ['d', 'a', 'c', 'b', 'e']
temporarily sorted list: ['a', 'b', 'c', 'd', 'e']

In [21]:
print("the number of fruits in the list is:", len(fruits))

the number of fruits in the list is: 4

In [12]:
print("the popped fruits is:", pop_fruits.title())

the popped fruits is: Grape

In [13]:
courses = ["maths", "physics", "chemistry"]
removed_course = courses.pop()
print("the removed course is:", removed_course.title())
print(courses)

the removed course is: Chemistry
['maths', 'physics']

In [1]:
print(my_list)

NameError: name 'my_list' is not defined